body {
    margin: 0;
}

.header {
    width: 100%;
    height: 83px;
    padding-inline: 7%;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(176, 176, 176);
}

.header-container {
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 90px;
    height: 35px;
}

.SPC-container {
    width: 350px;
    height: 26px;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.text-project {
    gap: 5px;
    color: #E84949;
    display: flex;
    align-items: start;
}

.main {
    padding-inline: 7%;
}

.first-big-container {
    width: 100%;
    height: 495px;
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.first-big-text {
    width: 553px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-big-text1 {
    font-size: 32px;
    font-weight: 600;
    color: #343D68;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.first-big-text2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 37.63px;
    color: #343D68;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.first-big-text3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.3px;
    color: #343D68;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Hire-me {
    width: 98px;
    height: 42px;
    border-radius: 4px;
    background-color: #E84949;
    border: 0;
    color: white;
}

.second-big-container {
    width: 100%;
    height: 473px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.skills-title {
    color: #E84949;
    font-size: 20px;
    font-weight: 500;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 51px;
    height: 29px;
}

.codings-text {
    height: 177.16px;
    width: 518px;
    color: #818080;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.3px;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.about-skills {
    height: 414px;
}

.codings {
    width: 1238px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-main {
    width: 100%;
    height: 591px;
    background-color: #343D68;
    padding-inline: 7%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gear-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 29.22px;
    font-family: "Be Vietnam Pro", sans-serif;
    gap: 16px;
    width: 120.4px;
    height: 29px;
    display: flex;
    align-items: center;
}

.third-big-title {
    width: 237px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFFDE;
}

.title-description {
    width: 100%;
    height: 26px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26.3px;
    font-family: "Be Vietnam Pro", sans-serif;
}

.three-links {
    width: 100%;
    height: 434px;
    display: flex;
    justify-content: space-between;

}

.three-section {
    width: 381px;
    height: 434px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #262C4D;
    border: 4px solid linear-gradient(302.35deg, #0D54BE 4.37%, #20ECD3 95.31%);
    ;
}

.images {
    width: 381px;
    height: 276px;
}

.middle-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.38px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #FFFFFFDE;
    text-align: center;
}

.buttonn {
    width: 131px;
    height: 42px;
    border: 2px solid white;
    background-color: #262C4D;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.45px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: white;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    width: 20px;
    height: 20px;
}

.manaic-main {
    width: 100%;
    height: 615px;
    box-sizing: border-box;
   padding-inline: 7%;
   padding-top: 74px;
   padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background-color: #f1efef;
}

.contact-title {
    font-size: 19px;
    font-weight: 500;
    line-height: 29.38px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #E84949;
    width: 113px;
    height: 29px;

}

.man-stading-text {
    width: 100%;
    height: 412px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.standing-man {
    width: 563px;
    height: 412px;
}
.form{
    width: 613px;
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input1{
    width: 100%;
    height: 53px;
    border-radius: 4px;
    border: 1px solid rgb(200, 198, 198);
    padding-left: 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 29px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #838383;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
.input2{
    width: 100%;
    height: 158px;
    border-radius: 4px;
    shape-outside: 1px;
    padding-left: 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 29px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #838383;
    background-color: #FFFFFF;
    display: flex;
box-sizing: border-box;
padding-top: 11px;
}
.papaer-plane{
    width: 21.47px;
    height: 24px;
}
.send-massage{
    width: 213.47px;
    height: 50px;
    background-color: #343D68;
    color: white;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
}
.savage-big-container{
    width: 100%;
    height: 444px;
    background-color: #262C4D;
    border-top: 180deg ;
    padding-inline: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 1240px;
    height: 93px;
    padding-left: 110px;
    padding-right: 110px;
}
.media-links{
    width: 315px;
    height: 93px;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: white;
}
.logo-links{
    width: 315px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.logos{
    width: 30px;
    height: 30px;
}